body {
  background-image: url('Wallpaper.jpg');
  font-family: Arial;
  margin: 20px;
}
h2 {
  text-align: center;
}
#messages {
  list-style: none;
  padding: 5px;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-color: green;
}
#messages li {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  border-radius: 25px;
}
form {
  display: flex;
}
#input {
  flex: 1;
  padding: 10px;
}
button {
  padding: 10px;
}
