body {
  background: #181818;
  color: #f1f1f1;
  font-family: Arial;
}

.chat {
  width: 500px;
  margin: 50px auto;
  background: #262626;
  padding: 20px;
  border-radius: 10px;
}

#chatBox {
  height: 300px;
  overflow-y: scroll;
  background: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

input {
  width: 45%;
  padding: 10px;
  margin: 5px 0;
  background: #444;
  border: none;
  color: #fff;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #00aaff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
